
Projects/Project1/prompt/tasks.rtf
*.pyc
Projects/Project1/results/bench_10.txt
Projects/Project1/results/bench_100.txt
Projects/Project1/results/bench_1000.txt
Projects/Project1/results/bench_10000.txt
Projects/Project3/report/~$illips_report_3.docx
Projects/Project3/results/bench_earth_sun.txt
Projects/Project3/results/bench_earth_sun.txt
Projects/Project3/results/bench_earth_sun.txt
Projects/Project3/results/bench_earth_sun.txt
Projects/Project5/report/~$illips_report_5.docx
